/* General */

:root {
  --color-white: #E7E7F0;
  --color-dark-violet: #1A1926;
  --color-violet: #39385E;
  --color-60-violet: #39385E99;
  --color-light-violet: #7372B5;
  --color-lime: #ACCD00;
  --color-light-lime: #F2FFBB;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--color-dark-violet);
  color: var(--color-white);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Flex */

.center {
  display: flex;
  justify-content: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.rowSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Extra Padding, Margin & Gap */

.gap-25 {
  gap: 0.75rem;
}

.gap-35 {
  gap: 1.25rem;
}

/* Typography & Background */

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  font-size: 1.25rem;
}

.bgCover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgContain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-gradient-violet {
  background: linear-gradient(90deg, var(--color-violet), var(--color-light-violet));
}

.bg-dark-violet {
  background-color: var(--color-dark-violet);
}

.bg-violet-60 {
  background-color: var(--color-60-violet);
}

.text-lime {
  color: var(--color-lime);
}

/* Buttons */

.primaryButton {
  background: var(--color-lime);
  border-radius: 300px;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--color-dark-violet);
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.938rem 2.5rem;
}

.primaryButton:hover {
  background: linear-gradient(90deg, var(--color-lime), var(--color-light-lime));
}